<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\\MSSQLLocalDB;AttachDbFilename=|ResourcesDirectory|\\FingerprintAttendance.mdf;Initial Catalog=FingerprintAttendance;Integrated Security=True"/>
  </connectionStrings>
</configuration>